body {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: #000000;
}
section {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.blue {
  color: rgb(0, 183, 255);
}

/*Section of header*/
.head {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: auto;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-left: 215px;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-top: 24px;
  letter-spacing: 0.03em;
}
.logo a {
  color: #000000;
}

.ul-line {
  margin: 0; /* Обнуляем значение отступов */
  margin-top: 32px;
}

.ul-line li {
  margin-right: 50px; /* Отступ справа */
  display: inline; /* Отображать как строчный элемент */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.head-address {
  margin-left: auto;
  margin-right: 215px;
  margin-top: 32px;
}
.head-address a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 50px;
  color: #757575;
}

.header-content {
  padding-top: 200px;
  margin-bottom: 94px;
  width: 1600px;
  height: 400px;
  background: #2f303a;
}

h1 {
  width: 696px;
  margin: 0;
  height: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 4px;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

/*Section Features*/
.features {
  display: flex;
  flex-direction: row;
  width: 1170px;
}

.features ul {
  display: flex;
  flex-direction: row;
  margin: 0; /* Обнуляем значение отступов */
  padding: 0;
}

.features ul li {
  width: 270px;
  height: 101px;
  display: inline; /* Отображать как строчный элемент */
  margin-right: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.features h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Section Works*/
.works {
  margin-top: 94px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.works h2 {
  display: block;
}

.works ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.works ul li {
  list-style-type: none;
  margin-right: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/*Section Command*/
.command {
  margin-top: 94px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 94px;
}

.command h2 {
  margin: 0;
  display: block;
}

.command ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.command ul li {
  list-style-type: none;
  text-align: center;
  margin-right: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(34, 32, 32, 0.342);
}
/*Footer*/
footer {
  margin-top: 94px;
  width: 1600px;
  height: 192px;
  background-color: #2f303a;
  padding-top: 60px;
}

.footer a.logo {
  color: #ffffff;
  margin-top: 0;
}
address {
  display: block;
  margin-left: 215px;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
address p {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
address a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
